
{% extends '../base.html' %}

{% block content %}
    <h1 class="pb-2 mt-4 mb-4 border-bottom">
        {{ object.name }} | 
        <span class="float-right">
            <a class="btn btn-info" href="{% url 'client_detail' object.id %}">View</a>
            <a class="btn btn-info" href="{% url 'client_update' object.id %}">Edit</a>
            <a class="btn btn-info" href="{% url 'client_list' %}">List</a>
        </span>
    </h1>

    <ul class="list-group mb-4">
        <li class="list-group-item"><i class="fas fa-mobile-alt"></i>{{ object.phone_number }}</li>
        <li class="list-group-item"><i class="fas fa-envelope"></i>{{ object.email }}</li>
    </ul>

    <ul class="list-group mb-4">
        <li class="list-group-item"><i class="fas fa-map-marker-alt"></i>{{ object.street_name }}</li>
        <li class="list-group-item"><i class="fas fa-city"></i>{{ object.suburb }}</li>
        <li class="list-group-item"><i class="fas fa-globe-asia"></i>{{ object.state }}</li>
        <li class="list-group-item"><i class="fas fa-globe-asia"></i>{{ object.postcode }}</li>
    </ul>
    </div>

{% endblock %}