<!DOCTYPE html>
<html>
<head>
    <title>WebIT Django assessment</title>
</head>
<body>
    <h1>WebIT Django assessment</h1>
    <h2>Purpose</h2>
    <p>To check that your knowledge/research ability to use the Django framework meets what's required of a python role with WebIT.</p>

    <h2>Assessments</h2>
    <ol>
        <li>Given the code in this repository, create a model to store a "Client", a client contains:</li>
        <ul>
            <li>a client name</li>
            <li>their address (as street name, suburb, postcode and state)</li>
            <li>a contact name</li>
            <li>an email address</li>
            <li>a phone number</li>
            <li>Notes: the most commonly queried fields are suburb, client name and email address. There should be no duplicate client names.</li>
        </ul>
        <li>Write a view to create a new Client via a basic HTML form. Required fields for a client include:</li>
        <ul>
            <li>client name</li>
            <li>email address</li>
            <li>phone number</li>
        </ul>
        <li>Using the view from 2. as a basis. Add another view that can update a given Client record.</li>
        <li>Create a view to list all Client records, including a search form. The view must include the following:</li>
        <ul>
            <li>a search by client name</li>
            <li>a search by email address</li>
            <li>a search by phone number</li>
            <li>a search by client suburb</li>
            <li>the ability to order by name, email address, phone number and suburb</li>
            <li>each record should link to the update view from 3</li>
        </ul>
    </ol>

</body>
</html>
